*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}


.container_name{
    background-image: url("./img/fondo.jpeg");
    background-size: cover;
    background-position: center;
    color: black;
    
}

.img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 10%;
}
