*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Nav_bar{
   
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    background-color: #232323;
    position: absolute;
    padding: 1.5rem;
    top: 0;
    left: 0;
    gap: 1.5rem;
    z-index: 1;
    position: fixed;
    
}

.container_nav_item ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    

}

.container_nav_item ul li {
    text-decoration: none;
    color: #f1f1f1;
    padding-right: 10px;
    
}

.container_nav_item ul li a{
    text-decoration: none;
    color: #f1f1f1;
}

.container_nav_item ul li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(180, 9, 207);
    text-decoration-style: solid;
    text-underline-offset: 8px;
    transition: text-decoration 1s ease-in-out;
}

@media (min-width: 1200px){

    .Nav_bar{
        font-size: 1.5rem;
        
    }

    .container_nav_item ul li {
        padding-right: 20px;
        
    }
    
}
